@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import MS Sans Serif and Perfect DOS VGA font */
@font-face {
  font-family: 'MS Sans Serif';
  src: url('/node_modules/xp.css/dist/ms_sans_serif.woff2') format('woff2'),
       url('/node_modules/xp.css/dist/ms_sans_serif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MS Sans Serif';
  src: url('/node_modules/xp.css/dist/ms_sans_serif_bold.woff2') format('woff2'),
       url('/node_modules/xp.css/dist/ms_sans_serif_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@import url('https://unpkg.com/xp.css');

:root {
  /* Greens */
  --green-dark: #4B8C6D;
  --green-light: #81C39B;
  --green-lighter: #B9DDC9;
  --green-toolbar: #B9DDC9;
  
  /* Neutrals */
  --white: #ffffff;
  --gray-light: #EAEAEA;
  --gray-medium: #c0c0c0;
  --gray-dark: #808080;
  --gray-darker: #5a7a5a;
  
  /* Selection colors */
  --selection-gray: #d4d4d4;
  --selection-orange: #fdc97e;
  
  /* 98.css compatibility */
  --surface: var(--green-light);
  --button-face: var(--green-light);
  --button-highlight: var(--gray-light);
  --button-shadow: var(--gray-darker);
}

/* Reset body to use our theme with Windows XP MS Sans Serif font */
body {
  margin: 0;
  padding: 0;
  background: var(--surface);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* MS Sans Serif is the authentic Windows XP system font */
  font-family: 'MS Sans Serif', Arial, sans-serif;
  font-size: 11px;
  line-height: 1.4;
}

#root {
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'MS Sans Serif', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  margin: 0;
}
